.navbar{
    display: flex;
    flex-direction: row;
    height: 3rem;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(115, 187, 176, 0.5)
}


.link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: black;
    font-weight: bold;
}