.principal{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url("../Img/paises.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.principal>h1{
    font-size: 4rem;
    text-transform: capitalize;
    background-color: rgba(255,0,0,0.7);
    width: 25rem;
    height: 5rem;
    text-align: center;
    color: white;
    margin-bottom: 10rem;
}

.principal>button{
    width: 14rem;
    height: 3.5rem;
    font-size: 2.5rem;
    text-transform: capitalize;
    font-weight: 700;
    text-align: center;
    border-radius: 0.5rem;
    background-color: rgba(254,251,51,0.5);
    cursor: pointer;
    margin-bottom: 10rem;
}