.home {
  background-image: url("../Img/paisesmundo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.paises {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  row-gap: 3rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  justify-content: center;
  align-items: center;
}
